# App
NODE_ENV=development

# Database
DATABASE_URL="postgresql://username:password@localhost:5436/database-name?schema=public"

# Admin
ADMIN_USERNAME=admin-username
ADMIN_PASSWORD=admin-password

# Dev seed — judge accounts created by npm run seed:dev
DEV_JUDGE_PASSWORD=judge-dev-password

# Domain
DOMAIN_NAME=localhost

# Frontend
FRONTEND_URL=https://frontend-url.com
FRONTEND_DEV_URL=Frontend-DEV-URL

# Hash
HASH_SECRET=75961bb0b95f991c03a0f0d8810ac0fa21644837d8ae135c55b5a7afadef36fa

# Cookie
COOKIE_SECRET=mb7dSQTj3iiXb5zMGpefNcISJavseIO9HDKFVuiXczw

# JWT
JWT_ISSUER=PTCI-PAGEANT-TABULATION
JWT_SECRET=e48e81841c34115775a957a4c68e903d227ff1dce2a8a3afe064b4bffa0796ab